.carousel-stuff {
	margin: 50px 30px 20px;
	padding-top: 40px;
}
.carousels {
	max-height: 350px;
}

.content {
	/* display: flex; */
	justify-content: left;
	align-items: left;
	flex-direction: column;
	text-align: left;
}
.title {
	margin-bottom: 10px;
}

.captions {
	position: absolute;
}
.button {
	display: none !important;
}
.buttonlarge {
	display: block;
}
@media screen and (max-width: 600px) {
	.carousel {
		margin: 30px 10px 10px;
	}
	.title {
		font-size: 24px !important;
	}
	.captions {
		left: 10;
		/* bottom: 20%; */
		margin: 0;
	}

	.button {
		display: block !important;
		position: relative;
		left: 5%;
	}
	.buttonlarge {
		display: none !important;
	}
}

.carousel-control-next,
.carousel-control-prev {
	top: 20%;
}
